<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>H:\Cocos-Lua\simulator\win32\Cocos-Lua.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>H:\Cocos-Lua\src</StartWorkingDirectory>
  </propertyGroup>
</Project>